<div class="col-sm-3">
    <div data-meme="{{id}}"class="card-deck">
        <div class="card">
            <div class="innerS">
            <img src="{{imageUrl}}" class="card-img-top" alt="{{title}}">
            <div data-likes="{{importance}}" class="card-body">
                <h5 class="card-title">{{title}}</h5>
                <p class="card-text">{{category}}</p>
                <p class="card-text">{{about}}</p>
                <p class="card-text"><small class="text">{{importance}}</small></p>
                <button type="button" class="btn btn-primary btn-lg like"><i class="far fa-thumbs-up"></i></button>
                <button type="button" class="btn btn-success btn-lg save"><i class="far fa-save"></i></button>
                <button type="button" class="btn btn-danger btn-lg delete"><i class="far fa-trash-alt"></i></button>
                </div>
            </div>
        </div>
    </div>
</div>